:root {
  --primary-brand-color: #d9d9d9;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --hero-background: #2e2f42;
  --modal-background: #fcfcfc;
  --logo-color: #4d5ae5;
  --light-background: #ffffff;
  --another-background: #f4f4fd;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--light-background);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.project-link {
  text-decoration: none;
  color: inherit;
}

.link:hover,
.link:focus {
  color: var(--pressed-state-color);
}

.button:hover,
.button:focus {
  background-color: var(--pressed-state-color);
  color: var(--light-background);
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/* Header*/
.header {
  padding-top: 24px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}

.logo-header {
  color: var(--dark-color);
}

.logo-footer {
  color: var(--another-background);
}

.navigation-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.contacts {
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
/* Main */

.hero {
  background-color: var(--dark-color);
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-text {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--light-background);
  width: 496px;
  margin: 0 auto;
}
.hero-btn {
  background-color: var(--logo-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--light-background);
  cursor: pointer;
  display: block;
  margin: 48px auto 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantages-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
.advantages-list {
}

.advantages-list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
.advantages-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.works {
}

.works-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
}
.works-list {
}

.works-list-picture {
}

.team {
  background-color: var(--another-background);
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
}
.team-list {
}

.team-list-picture {
  background-color: var(--light-background);
}
.team-list-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
.team-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* FOOTER */

.basement {
  background-color: var(--dark-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.basement-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--another-background);
  margin-top: 16px;
}

/* Portfolio */

.projects {
  padding-top: 96px;
  padding-bottom: 120px;
}
.projects-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
.filters-list {
}

.filters-item {
}
.portfolio-btn {
  background-color: var(--another-background);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--logo-color);
  cursor: pointer;
}

.projects-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-top: 72px;
}
.projects-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.projects-title {
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
